%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:user_bokes, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:user_bokes, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:user_bokes, :destroy_many), :method => :delete do
                      =hidden_field_tag :user_boke_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= mat(:user_boke, :id)
        %th.header= mat(:user_boke, :user)
        %th.header= mat(:user_boke, :bokete_id)
        %th.header= mat(:user_boke, :boke)
        %th.header= mat(:user_boke, :image_url)
        %th.header= mat(:user_boke, :url)
        %th.header= mat(:user_boke, :created_at)
        %th.header= mat(:user_boke, :updated_at)
        %th.header.list-row-action-header

    %tbody
      -@user_bokes.each do |user_boke|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'user_boke_ids[]', :value => user_boke.id, :class => 'list-selectable-checkbox'
          %td.list-column=user_boke.id
          %td.list-column=user_boke.user
          %td.list-column=user_boke.bokete_id
          %td.list-column=user_boke.boke
          %td.list-column=user_boke.image_url
          %td.list-column=user_boke.url
          %td.list-column=time_ago_in_words user_boke.created_at
          %td.list-column=time_ago_in_words user_boke.updated_at
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:user_bokes, :edit, :id => user_boke.id), :rel => :tooltip, :title => "#{pat(:edit)} user_boke", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} user_boke", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "user_boke")
                .popover-content
                  -form_tag url(:user_bokes, :destroy, :id => user_boke.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
